@{
    Layout = "mylayout";
}

@section Main
{
<h2>@Model.Title</h2>

<p>
    <img alt="@Model.Title" src="@Model.AlbumArtUrl" />
</p>

<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.Genre
    </p>
    <p>
        <em>Artist:</em>
        @Model.Artist
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
</div>
}