@using FreyaMusicStore
@{
    Layout = "layout";
}

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@section Main
{
<h2>Index</h2>
<p>
    <a href="@Uris.newAlbum">Create New</a>
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Genre
        </th>
        <th>
            Artist
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Albums)
    {
        <tr>
            <td>
                <a href="@String.Format(Uris.album, item.AlbumId)">@Truncate(item.Title, 25)</a>
            </td>
            <td>
                @item.Genre
            </td>
            <td>
                @Truncate(item.Artist, 25)
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <a href="#" class="delete" data-id="@item.AlbumId">Delete</a> | 
                <a href="@String.Format(Uris.editAlbum, item.AlbumId)">Edit</a>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $('.delete').click(function (a) {
        var id = Number.parseInt($(a.target).attr("data-id"))
        var confirmation = confirm("delete album with id" + id + " ?");
        var success = function () {
            $(a.target).closest('tr').fadeOut();
        }
        if (confirmation){
            $.ajax({
                type: "DELETE",
                url: String.format("@Uris.album", id),
                success: success
            });
        }
        return false;
    });
</script>
}