@using FreyaMusicStore
@{
    Layout = "mylayout";
}

@section Main
{

<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    <a href="/">Checkout >></a>
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.AlbumId">
            <td>
                <a href="@String.Format(Uris.album, item.AlbumId)">@item.Title</a>
            </td>
            <td>
                @item.Price
            </td>
            <td id="item-count-@item.AlbumId">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.AlbumId">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>



<script>
$(".RemoveLink").click(function() {
    var albumId = $(this).attr("data-id");
    var $count = $("#item-count-" + albumId);
    var count = Number.parseInt( $count.val() );

	if (albumId != '') {

	    var success = function (data) {
	        document.open();
	        document.write(data);
	        document.close();
	    };

	    $.ajax({
	        type: "DELETE",
	        url: window.location.pathname,
	        data: String.format("AlbumId={0}", albumId),
	        success: success
	    });
	}
});
</script>

}

